<!DOCTYPE html>
<html>
<div class="container" style="padding-top: 70px" >
<h2> Test Result</h2>

<table class="table">
  <tr>
    <th>CaseID</th>
    <th>CaseName</th>
    <th>Machine</th>
    <th>VERSION</th>
    <th>TestResult</th>
  </tr>

  <% @testresult.each do |l| %>
      <tr>
        <td><%= l.case_id %></td>
        <td><%= l.case_name %></td>
        <td><%= l.machine %></td>
        <td><%= l.awo_version %></td>
        <td><%= l.test_result %></td>
      </tr>
  <% end %>
</table>

</div>

</html>