<!DOCTYPE html>
<html>

<div class="container" style="padding-top: 70px">
  <h2>Test Cases #</h2>
  <ul id="casecount">
    <li><%= @list_count %></li>
  </ul>
  <h2>Test Cases List</h2>
  <%= form_tag :controller => 'dashboard', :action => 'testcase', :method => 'post' do %>
      <select name="application">
        <option value="lm" selected="selected">LM</option>
        <option value="im">IM</option>
        <option value="cui">CUI</option>
      </select>
  <% end %>

  <table class="table">
    <tr>
      <th>CaseID</th>
      <th>CaseName</th>
      <th>Timing</th>
    </tr>
    <% @list.each() do |c| %>
        <tr>
          <td><%= c.id %></td>
          <td><%= c.casename %></td>
          <td><%= c.timing %></td>
        </tr>

    <% end %>

  </table>


</div>
</html>