<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
        <li class="<%= 'active' if current_page?(graph_path) %>"><%= link_to "Graph", graph_path %></li>
        <li class="<%= 'active' if current_page?(testcase_path) %>"><%= link_to "TestCase",testcase_path %></li>
        <li class="<%= 'active' if current_page?(pagetiming_path) %>"><%= link_to "PageTiming",pagetiming_path %></li>

      </ul>
    </div>
  </div>
</header>